body {
    font-family: 'Special Elite', cursive;
      line-height: 1.6;


  font-size:16px; 
  margin: 10px 50px; 
  letter-spacing: 3px; 
  font-weight: bold;
  color: white;
}

body {
  /* The image used */
  background-image: url("bg.jpg");



  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
      margin: auto;
}

.overlay{
  mix-blend-mode:multiply;
  position:absolute;
  display:inline-block;
  left:0;
  top:0;
  right:0;
  bottom:0;
}
.overlay img{
  width:100%;
  height:100%;
}



#toggleImage, #toggleDefault {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.button{
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
    padding: 10px 10px 10px 10px;
    height: 60px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
}







@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: darkred;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: red;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -80px 0 0 80px red;
    }

}
